src/xsd/rest_partner.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:documentation>Resource Sharing Partners represent the system(s) that Alma communicates in order to supply Resource Sharing services.
		A partner can be defined as one of the supported communication profiles: NCIP, ART_EMAIL, ISO, BLDSS, FULFILLMENT_NETWORK or EMAIL.</xs:documentation>
	</xs:annotation>

<xs:include schemaLocation="rest_contact_info.xsd" />
	<xs:include schemaLocation="rest_notes.xsd" />

	<xs:element name="partner" type="partner" />

	<xs:complexType name="partner">
		<xs:annotation>
			<xs:documentation>Resource Sharing Partner Object.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="partner_details" type="partner_details">
				<xs:annotation>
					<xs:documentation>The partner's general details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contact_info" type="contact_info" minOccurs="0">
			<xs:annotation>
					<xs:documentation>The partner's Contact information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" type="notes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The partner's related notes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attribute name="link" type="xs:string" />
	</xs:complexType>



	<xs:complexType name="partner_details">
		<xs:annotation>
			<xs:documentation>The partner's general details.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>RELAIS_ILL</xs:example>
					</xs:appinfo>
					<xs:documentation>The partner's code. Mandatory. Must be unique for each partner. The partner's code cannot be changed in the PUT action.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>Relais ILL</xs:example>
					</xs:appinfo>
					<xs:documentation>The partner's name. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profile_details" type="profile_details">
				<xs:annotation>
					<xs:documentation>The partner's profile details. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="status">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>ACTIVE</xs:example>
					</xs:appinfo>
					<xs:documentation>The status of the partner. Mandatory. Possible values are:ACTIVE, INACTIVE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="system_type">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>PartnerSystemTypes</xs:codeTable>
						<xs:example>RELAIS_ILL</xs:example>
					</xs:appinfo>
					<xs:documentation>The type of the partner's system. Mandatory. This field is used for information purposes only. Possible codes are listed in 'PartnerSystemTypes' code table.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Relais ILL</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="avg_supply_time" type="xs:int" default="0" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>0</xs:example>
					</xs:appinfo>
					<xs:documentation>The average number of days that it takes the partner to supply the material. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="delivery_delay" type="xs:int" default="0" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>1</xs:example>
					</xs:appinfo>
					<xs:documentation>The delivery delay number of days. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currency" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The partner's currency. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="borrowing_supported" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>true</xs:example>
					</xs:appinfo>
					<xs:documentation>Information whether the partner sends borrowing requests to Alma.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="borrowing_workflow" type="xs:string" default="DEFAULT_BOR_WF" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>Borrowing</xs:example>
					</xs:appinfo>
					<xs:documentation>The partner's borrowing workflow. Relevant when borrowing_workflow is true.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lending_supported" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>true</xs:example>
					</xs:appinfo>
					<xs:documentation>Information whether the partner receives lending requests from Alma.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lending_workflow" type="xs:string" default="DEFAULT_LEND_WF" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>Lending</xs:example>
					</xs:appinfo>
					<xs:documentation>The partner's lending workflow. Relevant when lending_workflow is true.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locate_profile" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
					</xs:appinfo>
					<xs:documentation>The partner's locate profile. Must match an existing locate profile.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="institution_code" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
						<xs:example></xs:example>
					</xs:appinfo>
					<xs:documentation>The institution to be searched as part of locate. Relevant if locate_profile is not empty.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="holding_code" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xs:tags>get post put</xs:tags>
						<xs:example></xs:example>
					</xs:appinfo>
					<xs:documentation>The library or campus to be searched as part of locate. Relevant if locate_profile is not empty.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>


	<xs:complexType name="profile_details">
		<xs:annotation>
			<xs:documentation>The partner's profile details. </xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="profile_type" type="profile_type">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>NCIP</xs:example>
					</xs:appinfo>
					<xs:documentation>The type of request/receive communication that takes place between Alma and a
resource sharing system. Mandatory. Possible values are: NCIP, ART_EMAIL, ISO, ISO_18626, EMAIL, NCIP_P2P, SLNP, EXTERNAL_SYSTEM, BLDSS, FULFILLMENT_NETWORK.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="art_email_details" type="art_email_details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTEmail related details. Relevant and mandatory only if profile_type = ART_EMAIL.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ncip_details" type="ncip_details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NCIP related details. Relevant and mandatory only if profile_type = NCIP.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="iso_details" type="iso_details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ISO related details. Relevant and mandatory only if profile_type = ISO.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="iso_18626_details" type="iso_18626_details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ISO related details. Relevant and mandatory only if profile_type = ISO.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email_details" type="email_details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Email related details. Relevant and mandatory only if profile_type = Email.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ncip_p2p_details" type="ncip_p2p_details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NCIP P2P related details. Relevant and mandatory only if profile_type = NCIP_P2P.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bldss_details" type="bldss_details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BLDSS related details. Relevant and mandatory only if profile_type = BLDSS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fulfillment_network_details" type="fulfillment_network_details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>fulfillment network related details. Relevant and mandatory only if profile_type = FULFILLMENT_NETWORK.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rapid_details" type="rapid_details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>RapidILL related details. Relevant and mandatory only if profile_type = RapidILL.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="innreach_details" type="innreach_details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>INN-Reach API related details. Relevant and mandatory only if profile_type = INNREACH.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>


	<xs:complexType name="art_email_details">
		<xs:annotation>
			<xs:documentation>ARTEmail related details. Relevant and mandatory only if profile_type = ART_EMAIL.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="email_address" type="xs:string">
				<xs:annotation>
					<xs:documentation>The email address to which the ARTEmail message will be sent. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternative_document_delivery" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indication whether the ability to send requests to an alternate physical location or email address is supported. By default, it is not supported.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customer_ids" type="customer_ids">
				<xs:annotation>
					<xs:documentation>List of British Library customer IDs. At least one customer id should be defined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="keywords_service" type="keywords_service" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of British Library services that are supported. At least one service should be defined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="keywords_delivery" type="keywords_delivery" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of British Library delivery formats that are supported. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="keywords_queries" type="keywords_queries" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of British Library query codes that are supported. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="keywords_service">
		<xs:annotation>
			<xs:documentation>List of British Library services that are supported. At least one service should be defined.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="service" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>ARTEmailServiceKeywords</xs:codeTable>
						<xs:example>S</xs:example>
					</xs:appinfo>
					<xs:documentation>The British Library relevant service. Possible codes are listed in 'ARTEmailServiceKeywords' code table.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="keywords_delivery">
		<xs:annotation>
			<xs:documentation>List of British Library delivery formats that are supported. Optional.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="delivery" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>ARTEmailDeliveryKeywords</xs:codeTable>
						<xs:example>SED99*2*</xs:example>
					</xs:appinfo>
					<xs:documentation>The British Library relevant delivery format. Possible codes are listed in 'ARTEmailDeliveryKeywords' code table.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="keywords_queries">
		<xs:annotation>
			<xs:documentation>List of British Library query codes that are supported. Optional.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="queries" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>ARTEmailQueriesKeywords</xs:codeTable>
						<xs:example>COPYRT</xs:example>
					</xs:appinfo>
					<xs:documentation>The British Library relevant query code. Possible codes are listed in 'ARTEmailQueriesKeywords' code table.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="customer_ids">
		<xs:annotation>
			<xs:documentation>List of British Library customer IDs. At least one customer id should be defined.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="customer_id" type="customer_id" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specific customer id.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="customer_id">
		<xs:annotation>
			<xs:documentation>Specific customer id.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>The customer code. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="password" type="xs:string">
				<xs:annotation>
					<xs:documentation>The customer password. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>


	<xs:complexType name="ncip_details">
		<xs:annotation>
			<xs:documentation>NCIP related details. Relevant and mandatory only if profile_type = NCIP.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="general_user_id_type" type="general_user_id_type" />

			<xs:element name="general_loan_period" type="xs:string">
				<xs:annotation>
					<xs:documentation>The amount of time the user has before having to return the item to the resource sharing library(This may be seen by patrons in Primo). Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="general_pushing_method" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>openURL</xs:example>
					</xs:appinfo>
					<xs:documentation>The type of link that will be used to push the request into the resource sharing system. Mandatory. Possible values: openURL, Link.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generalURL_template" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>https://h7.relais-host.com/nun/loginpRFT.jsp?LS=NUN</xs:example>
					</xs:appinfo>
					<xs:documentation>The URL that is used to send patrons from Primo to the resource sharing library's Web site. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="general_broker_systemURL" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>https://requestb.in/1f8c5rc1</xs:example>
					</xs:appinfo>
					<xs:documentation>The URL that is used to send request from Alma to NCIP broker. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="general_library_owner">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>RES_SHARE</xs:example>
					</xs:appinfo>
					<xs:documentation>The resource sharing library code that is supported for all actions. Mandatory.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Resource Sharing Library</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="general_enable_service_without_login" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>true</xs:example>
					</xs:appinfo>
					<xs:documentation>Indication whether service is enabled for guest user. Possible values: true, false.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request_item_bib_type" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>OCLC</xs:example>
					</xs:appinfo>
					<xs:documentation>The index that will be used to match the record that is described in the incoming RequestItem message. Optional indexes: OCLC, MMS_ID, LCCN, ISBN_ISSN, TAKEN_FROM_MESSAGE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request_item_support_borrowing" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>true</xs:example>
					</xs:appinfo>
					<xs:documentation>Indicates if patron support borrowing for Request Item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request_item_pickup_library">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>550.561.13641560000541</xs:example>
					</xs:appinfo>
					<xs:documentation>Request Item pickup location library for borrowing request.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Main Library</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="request_item_location">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>12900870000541</xs:example>
					</xs:appinfo>
					<xs:documentation>Request Item location for borrowing request.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Borrowing Resource Sharing Requests</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>

						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="check_out_location">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>12900850000541</xs:example>
					</xs:appinfo>
					<xs:documentation>The temporary location at the resource sharing library that will be assigned to an item that is shipped to a resource sharing borrower. Mandatory.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Lending Resource Sharing Requests</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="check_out_item_policy">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>ItemPolicy</xs:codeTable>
						<xs:example>N</xs:example>
					</xs:appinfo>
					<xs:documentation>The policy that will be attached to an item that is shipped to a resource sharing borrower. Mandatory. Possible codes are listed in 'ItemPolicy' code table. Note that the policy should match the organization unit.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Normal</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="accept_item_location">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>12900870000541</xs:example>
					</xs:appinfo>
					<xs:documentation>The temporary location at the resource sharing library that will be assigned to an item that is recieved for a borrowing request. Mandatory.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Borrowing Resource Sharing Requests</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="accept_item_pickup_library">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>550.561.13641560000541</xs:example>
					</xs:appinfo>
					<xs:documentation>The default pickup location to which temporary items are transferred when an item arrives for a borrowing request.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Main Library</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="accept_item_automatic_receive" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>true</xs:example>
					</xs:appinfo>
					<xs:documentation>Indicates if automatic receive is supported or not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accept_item_receive_desk" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>RES_DESK</xs:example>
					</xs:appinfo>
					<xs:documentation>The desk from which the automatic receive will be done, if automatic receive is supported.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="look_up_user_authentication" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>false</xs:example>
					</xs:appinfo>
					<xs:documentation>Indication whether authentication should or should not be required for the resource sharing library's Web site. Possible values: true, false.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="export_to_third_party" type="xs:string">
				<xs:annotation>
					<xs:documentation>Indication whether ILLiad partner will be used in Rota. Possible values: NO, USING_EMAIL, USING_API.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="export_email_address" type="xs:string">
				<xs:annotation>
					<xs:documentation>ILLiad partner email address to send the request details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="export_url" type="xs:string">
				<xs:annotation>
					<xs:documentation>ILLiad partner API URL.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="export_api_key" type="xs:string">
				<xs:annotation>
					<xs:documentation>ILLiad partner API key.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="export_request_id_name_tag" type="xs:string">
				<xs:annotation>
					<xs:documentation>ILLiad partner request external ID name tag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="close_request_on_export" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>false</xs:example>
					</xs:appinfo>
					<xs:documentation>Indication whether to mark resource sharing request as closed when send the request to ILLiad partner. Possible values: true or false.</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:all>
	</xs:complexType>

	<xs:complexType name="innreach_details">
		<xs:annotation>
			<xs:documentation>INN-Reach related details. Relevant and mandatory only if profile_type = INNREACH.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="general_user_id_type" type="general_user_id_type" />

			<xs:element name="general_loan_period" type="xs:string">
				<xs:annotation>
					<xs:documentation>The amount of time the user has before having to return the item to the resource sharing library(This may be seen by patrons in Primo). Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="general_pushing_method" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>openURL</xs:example>
					</xs:appinfo>
					<xs:documentation>The type of link that will be used to push the request into the resource sharing system. Mandatory. Possible values: openURL, Link.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generalURL_template" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>https://h7.relais-host.com/nun/loginpRFT.jsp?LS=NUN</xs:example>
					</xs:appinfo>
					<xs:documentation>The URL that is used to send patrons from Primo to the resource sharing library's Web site. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="general_library_owner">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>RES_SHARE</xs:example>
					</xs:appinfo>
					<xs:documentation>The resource sharing library code that is supported for all actions. Mandatory.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Resource Sharing Library</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="general_enable_service_without_login" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>true</xs:example>
					</xs:appinfo>
					<xs:documentation>Indication whether service is enabled for guest user. Possible values: true, false.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request_item_support_borrowing" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>true</xs:example>
					</xs:appinfo>
					<xs:documentation>Indicates if patron support borrowing for Request Item. Always true for InnReach</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request_item_pickup_library">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>550.561.13641560000541</xs:example>
					</xs:appinfo>
					<xs:documentation>Request Item pickup location library for borrowing request.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Main Library</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="request_item_location">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>12900870000541</xs:example>
					</xs:appinfo>
					<xs:documentation>Request Item location for borrowing request.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Borrowing Resource Sharing Requests</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="check_out_location">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>12900850000541</xs:example>
					</xs:appinfo>
					<xs:documentation>The temporary location at the resource sharing library that will be assigned to an item that is shipped to a resource sharing borrower. Mandatory.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Lending Resource Sharing Requests</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="check_out_item_policy">
				<xs:annotation>
					<xs:appinfo>
						<xs:codeTable>ItemPolicy</xs:codeTable>
						<xs:example>N</xs:example>
					</xs:appinfo>
					<xs:documentation>The policy that will be attached to an item that is shipped to a resource sharing borrower. Mandatory. Possible codes are listed in 'ItemPolicy' code table. Note that the policy should match the organization unit.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>Normal</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="look_up_user_authentication" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>false</xs:example>
					</xs:appinfo>
					<xs:documentation>Indication whether authentication should or should not be required for the resource sharing library's Web site. Possible values: true, false.</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="innreach_integration_profile">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>12900850000541</xs:example>
					</xs:appinfo>
					<xs:documentation>The INN-Reach integration profile Hibernate id</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="desc" type="xs:string" use="optional">
								<xs:annotation>
									<xs:appinfo>
										<xs:example>INN-Reach Profile</xs:example>
									</xs:appinfo>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="share_patron_information" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xs:example>false</xs:example>
					</xs:appinfo>
					<xs:documentation>Indication whether the verify patron action should include patron information. Possible values: true, false.</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:all>
	</xs:complexType>

	<xs:complexType name="email_details">
		<xs:annotation>
			<xs:documentation>Email related details. Relevant and mandatory only if profile_type = Email.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="email" type="xs:string">
				<xs:annotation>
					<xs:documentation>The email address to which resource sharing borrowing requests are to be sent. The entered address must be added to the Email Include List Mapping Table (General
Configuration - Configuration menu - External Systems - Allowed Emails). Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="resending_overdue_message_interval" type="xs:int" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Interval (In days) that overdue message will be sent to partner. Must be a number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>


	<xs:complexType name="iso_details">
		<xs:annotation>
			<xs:documentation>ISO related details. Relevant and mandatory only if profile_type = ISO.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="alternative_document_delivery" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indication whether to include the requester's email in the lending request, enabling the lending partner to send the shipped resource directly to the requester. Optional. Default value is false.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ill_server" type="xs:string">
				<xs:annotation>
					<xs:documentation>The partner's server name (or IP address). Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ill_port" type="xs:int">
				<xs:annotation>
					<xs:documentation>the partner's ILL port number. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="iso_symbol" type="xs:string">
				<xs:annotation>
					<xs:documentation>the symbol by which the ILL partner is referred. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request_expiry_type" type="request_expiry_type" />

			<xs:element name="expiry_time" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If EXPIRY_TIME was selected as the expiry_type, this field should hold the relevant number of days. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="send_requester_information" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if to send patron information on the borrowing request. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shared_barcodes" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if local institution shares barcodes with the partner. Default is false.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ignore_shipping_cost_override" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if local institution ignores the lender shipping cost. Default is false.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email_address" type="xs:string">
				<xs:annotation>
					<xs:documentation>The email address to which the Overdue email will be sent - Relvants only for SLNP type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resending_overdue_message_interval" type="xs:int" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Interval (In days) that the overdue message will be sent to partner. Must be a number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="iso_18626_details">
		<xs:annotation>
			<xs:documentation>ISO 18626 related details. Relevant and mandatory only if profile_type = ISO_18626.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="alternative_document_delivery" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indication whether to include the requester's email in the lending request, enabling the lending partner to send the shipped resource directly to the requester. Optional. Default value is false.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ill_server" type="xs:string">
				<xs:annotation>
					<xs:documentation>The partner's server name (or IP address). Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="iso_symbol" type="xs:string">
				<xs:annotation>
					<xs:documentation>the symbol by which the ILL partner is referred. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="send_requester_information" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if to send patron information on the borrowing request. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shared_barcodes" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if local institution shares barcodes with the partner. Default is false.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resending_overdue_message_interval" type="xs:int" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Interval (In days) that the overdue message will be sent to partner. Must be a number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="ncip_p2p_details">
		<xs:annotation>
			<xs:documentation>NCIP_P2P related details. Relevant and mandatory only if profile_type = NCIP_P2P.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="alternative_document_delivery" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indication whether to include the requester's email in the lending request, enabling the lending partner to send the shipped resource directly to the requester. Optional. Default value is false.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="general_user_id_type" type="general_user_id_type" />
			<xs:element name="ill_server" type="xs:string">
				<xs:annotation>
					<xs:documentation>The partner's server name (or IP address). Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="institution_code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the partner's Institution Symbol</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partner_symbol" type="xs:string">
				<xs:annotation>
					<xs:documentation>the symbol by which the ILL partner is referred. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="request_expiry_type" type="request_expiry_type" />

			<xs:element name="expiry_time" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If EXPIRY_TIME was selected as the expiry_type, this field should hold the relevant number of days. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="send_requester_information" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if to send patron information on the borrowing request. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email_address" type="xs:string">
				<xs:annotation>
					<xs:documentation>The email address to which the Overdue email will be sent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resending_overdue_message_interval" type="xs:int" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Interval (In days) that the overdue message will be sent to partner. Must be a number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="bldss_details">
		<xs:annotation>
			<xs:documentation>BLDSS related details. Relevant and mandatory only if profile_type = BLDSS.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="bldss_base_url" type="xs:string">
				<xs:annotation>
					<xs:documentation>The BLDSS URL. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bldss_base_account" type="xs:string" >
				<xs:annotation>
					<xs:documentation>The BLDSS account name. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bldss_base_password" type="xs:string">
				<xs:annotation>
					<xs:documentation>The BLDSS password.  Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="bldss_digital_format">
               <xs:annotation>
	               <xs:appinfo>
	               		<xs:codeTable>BLDSSDigitalFormats</xs:codeTable>
						<xs:example>1</xs:example>
	               </xs:appinfo>
	               <xs:documentation> The BLDSS digital format. Possible codes are listed in the ‘BLDSSDigitalFormats’ code table.</xs:documentation>
               </xs:annotation>
               <xs:complexType>
	               <xs:simpleContent>
	                   <xs:extension base="xs:string">
	                   		<xs:attribute name="desc" type="xs:string" use="optional" />
	                   </xs:extension>
	               </xs:simpleContent>
               </xs:complexType>
	         </xs:element>
			<xs:element name="bldss_send_requester_info" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>The BLDSS send requester Info.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="fulfillment_network_details">
		<xs:annotation>
			<xs:documentation>FULFILLMENT_NETWORK related details. Relevant and mandatory only if profile_type = FULFILLMENT_NETWORK.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="fulfillment_network_customer_code" type="xs:string">
				<xs:annotation>
					<xs:documentation>The FULFILLMENT_NETWORK customer code. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fulfillment_network_url" type="xs:string" >
				<xs:annotation>
					<xs:documentation>The FULFILLMENT_NETWORK URL.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request_expiry_type" type="request_expiry_type" />
			<xs:element name="expiry_time" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If EXPIRY_TIME was selected as the expiry_type, this field should hold the relevant number of days. Optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="rapid_details">
		<xs:annotation>
			<xs:documentation>RapidILL related details. Relevant and mandatory only if profile_type = RapidILL.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="rapid_url" type="xs:string">
				<xs:annotation>
					<xs:documentation>The RapidILL URL.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rapid_user_name" type="xs:string" >
				<xs:annotation>
					<xs:documentation>The RapidILL User Name. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rapid_password" type="xs:string">
				<xs:annotation>
					<xs:documentation>The RapidILL password. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requesting_rapid_code" type="xs:string">
				<xs:annotation>
					<xs:documentation>The RapidILL Requesting Rapid Code. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rapid_requesting_branch_name" type="xs:string">
				<xs:annotation>
					<xs:documentation>The RapidILL Requesting Branch Name. Mandatory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="send_requester_info" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>The RapidILL Send Requester Info.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternative_document_delivery" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>The RapidILL Alternative Document Delivery.</xs:documentation>
				</xs:annotation>
			</xs:element><xs:element name="close_request_on_export" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation>The RapidILL Close request when exported.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:simpleType name="status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INACTIVE">
				<xs:annotation>
					<xs:documentation>Inactive partner.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACTIVE">
				<xs:annotation>
					<xs:documentation>Active partner.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="profile_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ART_EMAIL">
				<xs:annotation>
					<xs:documentation>Communication between Alma and the British Library resource sharing system.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NCIP">
				<xs:annotation>
					<xs:documentation>Communication between Alma and resource sharing systems, such as OCLC Navigator, OCLC iLLiad, and Relais D2D, via NCIP 2.0 messages.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ISO">
				<xs:annotation>
					<xs:documentation>Communication between Alma and another resource sharing (Alma or non-Alma) system.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ISO_18626">
				<xs:annotation>
					<xs:documentation>Communication between Alma and another resource sharing (Alma or non-Alma) system according to ISO 18626.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EMAIL">
				<xs:annotation>
					<xs:documentation>The sending of borrowing requests by the Alma borrowing partner via email.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NCIP_P2P">
				<xs:annotation>
					<xs:documentation>NCIP-P2P protcol</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SLNP">
				<xs:annotation>
					<xs:documentation>SLNP paretner type</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXTERNAL_SYSTEM">
				<xs:annotation>
					<xs:documentation>External System paretner type</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BLDSS">
				<xs:annotation>
					<xs:documentation>British Library Document Supply Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FULFILLMENT_NETWORK">
				<xs:annotation>
					<xs:documentation>Fulfillment Network partner type</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RAPID">
				<xs:annotation>
					<xs:documentation>RapidILL Protocol</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INNREACH">
				<xs:annotation>
					<xs:documentation>INN-Reach API Protocol</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>


	<xs:complexType name="general_user_id_type">
		<xs:annotation>
			<xs:appinfo>
				<xs:codeTable>UserIdentifierTypes</xs:codeTable>
				<xs:example>userName</xs:example>
			</xs:appinfo>
			<xs:documentation>The identification type that will be used to match users when a message contains a user ID. Mandatory. Possible codes are listed in 'UserIdentifierTypes' code table. In addition, the user_name can be used in order to match based on the primary identifier.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="desc" type="xs:string" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="request_expiry_type">
		<xs:annotation>
			<xs:appinfo>
				<xs:codeTable>ExpiryType</xs:codeTable>
				<xs:example>EXPIRY_TIME</xs:example>
			</xs:appinfo>
			<xs:documentation>The expiry option of the request: NO_EXPIRY, INTEREST_DATE or EXPIRY_TIME. Optional. Default: NO_EXPIRY Possible codes are listed in ExpiryType code table.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="desc" type="xs:string" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

</xs:schema>

